<!DOCTYPE html>
<html>
  <head>
    <!-- code mirror -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/codemirror.min.css">
    <script src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/codemirror.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/mode/javascript/javascript.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/mode/css/css.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/mode/xml/xml.min.js"></script>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/mode/htmlmixed/htmlmixed.min.js"></script>
    <link rel="stylesheet" href="/internals/tomorrow-night.css">
    <link rel="stylesheet" href="/internals/docs.css">
    <script src="/internals/jsx.js"></script> <!-- code mirror mode -->

    <script src="https://npmcdn.com/babel-standalone@6.6.5/babel.min.js"></script>

    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="http://docs.telerik.com/kendo-ui/assets/prettify.js?cb=7160d45af34e15b185fc57760755c88f"></script>

    <script>
      var jsCDN = '/cdn/{{scriptSrc}}'
      var cssCDN = '/cdn/{{styleSrc}}'
      var runnerScript = 'http://gyoshev:4000/assets/example-runner.js';
      var npmUrl = '/npm';
    </script>

    <script src="http://gyoshev:4000/assets/main.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>{{title}}</h1>

      {{{ content }}}
    </div>
  </body>
</html>
