<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">

    <!-- code mirror -->
    <link rel="stylesheet" href="http://cdnjs.cloudflare.com/ajax/libs/codemirror/5.6.0/codemirror.min.css">
    <link rel="stylesheet" href="/internals/tomorrow-night.css">
    <link rel="stylesheet" href="/internals/bootstrap.css">
    <link rel="stylesheet" href="/internals/docs.css">

    <script src="/internals/codemirror/codemirror.min.js"></script>
    <script src="/internals/codemirror/clike.min.js"></script>
    <script src="/internals/codemirror/css.min.js"></script>
    <script src="/internals/codemirror/htmlmixed.min.js"></script>
    <script src="/internals/codemirror/javascript.min.js"></script>
    <script src="/internals/codemirror/jsx.min.js"></script>
    <script src="/internals/codemirror/php.min.js"></script>
    <script src="/internals/codemirror/runmode.min.js"></script>
    <script src="/internals/codemirror/xml.min.js"></script>

    <script src="https://unpkg.com/babel-standalone@6.6.5/babel.min.js"></script>

    <script src="http://code.jquery.com/jquery-2.2.0.min.js"></script>
    <script src="http://kendo.cdn.telerik.com/2016.2.714/js/kendo.core.min.js"></script>
    <script src="/internals/bootstrap.min.js"></script>
    <script src="/internals/example-runner.js"></script>
    <script src="/auto-imports.js"></script>

    <script>
      var jsCDN = '/cdn/{{scriptSrc}}'
      var cssCDN = '/cdn/{{styleSrc}}'
      var runnerScript = '/internals/example-runner.js';
      var plunkerBluePrintPath = '/internals/plunker/';
      var npmUrl = '/npm';
      var trackjs = false;
    </script>

    <script src="/internals/snippets.js"></script>
  </head>
  <body>
    <div class="container">
      <h1>{{title}}</h1>

      {{{ content }}}
    </div>
  </body>
</html>
